<!doctype html>

<html ng-app="app">
	<head>
		<title> My Untitled Work </title>
	</head>
	<link href="styles/site.css" rel="stylesheet" />
	<link href="styles/bootstrap.min.css" rel="stylesheet" />

	<body ng-controller="CommentController as commentCtrl">

		<div class="container">
			<h1 class="page-header">Sales Report <small>(Click on the point to drill down report and refresh to reset)</small></h1>
			<div class="panel panel-info">
				<div class="panel-body">
					<center>
						<canvas id="myChart"></canvas>
					</center>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading"> Feedbacks </div>
				<div class="panel-body">

					<form name="commentForm" ng-submit="commentForm.$valid && commentCtrl.addComment()" novalidate>
						<div class="form-group">
							<textarea ng-model="commentCtrl.comment.comment" class="form-control" placeholder="Write Comment" required></textarea>
						</div>
						<div class="form-group">
							<input name="author" ng-model="commentCtrl.comment.author" class="form-control" placeholder="email@domain.com" type="email" required />
						</div>

						<input type="submit" class="btn btn-primary" />
					</form>
					<blockquote ng-repeat="comments in commentCtrl.comments">
						<p>
							<b>{{comments.comment}}</b>
						</p>
							<small>by: {{comments.author}}</small>
					</blockquote>
				</div>
			</div>
		</div>

		<script src="scripts/jquery-1.10.2.min.js"></script>
		<script src="scripts/bootstrap.min.js"></script>
		<script src="scripts/Chart.js"></script>
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/ReportService.js"></script>
		<script src="scripts/ReportLayer.js"></script>
 		<script src="scripts/main.js"></script>
	</body>
</html>